.swiper {
    overflow: hidden;
}

.first-section{
    overflow: hidden;
}
.secound-section{
    overflow: hidden;
}
.week{
    overflow: hidden;
}
.payment{
    overflow: hidden;
}

.flooting-container{
    overflow: hidden;
}
.top-hadding{
    overflow: hidden;
}

.mti-blue-box{
    overflow: hidden;
}

.mti-white-box{
    overflow: hidden;

}